{% extends "base.html" %} {% block page_css%} {% endblock %} {% block content%}
<div class="jumbotron">
    <h1 class="display-3">Welcome to ARS&nbsp;</h1>
    <p class="lead">We provide affordable and comfortable flights to and from 100+ cities around the world and within India</p>
    <div><br></div>
    <p></p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign Up</a></p>
</div>

<h1 class="why" style="float: none;">Why ARS?</h1>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Affordable</h4>
        <p>All our flights are cheapest in the country.</p>

        <h4>Punctual</h4>
        <p>With an award winning 95% On time record, we make you travel on time everytime!</p>

        <h4>Easy Cancellation</h4>
        <p>Cancellations made 1 week before departure are eligible for 100% refund*</p>
    </div>

    <div class="col-lg-6">
        <h1 style=""></h1>
        <h4>Comfortable</h4>
        <p>We use custom designed seats aimed to provide utmost customer comfort in our flights!</p>

        <h4>Great Food!</h4>
        <p>We have signed and MoU with SuperFoods to provide best in class food in cabin! Bon appetit!</p>



    </div>
</div>

{% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-link-home").classList.add("active");
</script>
{% endblock %}